In [1]:
import os
import pyodbc
import pandas as pd
from pathlib import Path
from autoseg import utils

In [2]:
path_zip = Path('..') / 'data' / 'raw' / 'autoseg'
path_ext = Path('..') / 'data' / 'processed' / 'autoseg'

In [3]:
# Diretório contendo todos os arquivos .zip
arquivos_zip = os.listdir(path_zip)

In [ ]:
for a in arquivos_zip:
    dir = path_zip / a
    utils.descompacta_zip(dir, path_ext)

- Preciso incluir um código que dê sequência ao processamento do arquivo após descompactá-lo.
- Após todo o processamento, precisso limpar o diretório para o próximo .zip.

In [4]:
df = pd.read_csv(
    path_ext / 'arq_casco3_comp.csv',
    sep=';'
)

df.head()

C:\Users\breno\AppData\Local\Temp\ipykernel_102020\2149460261.py:1: DtypeWarning: Columns (1,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(

,COD_TARIF,REGIAO,COD_MODELO,ANO_MODELO,CEP,EXPOSICAO,PREMIO,FREQ_SIN1,INDENIZ1,FREQ_SIN23,INDENIZ23,FREQ_SIN4,INDENIZ4,FREQ_SIN9,INDENIZ9,ENVIO
0,2,39,005228-0,2012,74255,"0,246575340628624","220,46321105957",0,0,0,0,0,0,0,0,2012A
1,2,39,005228-0,2012,74265,"0,246575340628624","300,899169921875",0,0,0,0,0,0,0,0,2012A
2,2,39,005228-0,2012,74303,"0,219178080558777","254,386917114258",0,0,0,0,0,0,0,0,2012A
3,2,39,005228-0,2012,74330,"0,789041072130203","894,801116943359",0,0,0,0,0,0,0,0,2012A
4,2,39,005228-0,2012,74333,"0,0821917802095413","85,0136260986328",0,0,0,0,0,0,0,0,2012A

In [7]:
arquivos_remover = os.listdir(path_ext)

In [5]:
os.remove(path_ext)

AttributeError: module 'os' has no attribute 'clear'